In [1]:
import pandas as pd

In [2]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  robot
2  robot
3  human
4  robot

In [7]:
data.loc[data['whoAmI'] == 'robot', 'robot'] = "1"
data.loc[data['whoAmI'] == 'human', 'human'] = "1"
data.fillna(0, inplace=True)

In [8]:
data

   whoAmI robot human
0   robot     1     0
1   robot     1     0
2   robot     1     0
3   human     0     1
4   robot     1     0
5   human     0     1
6   robot     1     0
7   human     0     1
8   robot     1     0
9   human     0     1
10  robot     1     0
11  human     0     1
12  human     0     1
13  human     0     1
14  human     0     1
15  human     0     1
16  robot     1     0
17  human     0     1
18  robot     1     0
19  robot     1     0